@{
    ViewData["Title"] = "Service Request";
}
@using HelperlandProject.Models.Data
@model IEnumerable<ServiceRequest>
@section AddToHead{
    <link rel="stylesheet" href="~/css/customer/service-request.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customer/sidebar.css" asp-append-version="true" />
    <link href="~/rateit-plugin/scripts/rateit.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"/>    
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>    
}

<div class="modal fade" tab-index="-1" id="customerModal" role=" dialog"></div>

<!--main section start-->
    <section id="main-section">
      <div class="d-flex flex-wrap flex-column align-items-center">
        <!--user title-->
        <div
          class="d-flex justify-content-center align-items-center welcome-user"
        >
          <h2 id="user-title">Welcome, <b>@User.Identity.Name.Split(" ").ElementAt(0) !</b></h2>
        </div>

        <button id="openbtn">
          <i class="fas fa-bars"></i>
        </button>

        <div class="main-content">
          <partial name="SideBar"/>
          
          <!--service table-->
          <div class="current-service-request">
            <div class="d-flex flex-wrap">
              <h6 class="sub-title">Current Service Requests</h6>
              <a class="btn btn-primary ms-auto" id="addNewServiceRequest" asp-controller="bookservice" asp-action="createnewservice">Add New Service Request</a>
            </div>

            <!--table start-->
            <table
              id="table_id"
              class="table table-hover table-borderless"
              data-export-title="test"
            >
              <thead>
                <tr>
                  <th scope="col">Service Id</th>
                  <th scope="col">Service Date</th>
                  <th scope="col" width="150px">Service Provider</th>
                  <th scope="col">Payment</th>
                  <th scope="col" data-orderable="false">Actions</th>
                </tr>
              </thead>
              <tbody>
              @foreach(var request in Model)
            {
                <tr>
                 <td class="serviceId">@request.ServiceRequestId</td>
                 <td>
                    <img src="~/images/calendar2.png" alt="" />
                    <span class="date">@request.ServiceStartDate.Date.ToString("dd/MM/yyyy")</span>
                    <br />
                    <img src="~/images/layer-712.png" alt="" /> @request.ServiceStartDate.ToString("HH:mm") - @request.ServiceStartDate.AddHours(request.ServiceHours).ToString("HH:mm")
                  </td>
                  <td>
                    @if (request.ServiceProvider != null)
                    {
                        <div class="d-flex justify-content-center align-item-center">
                                <img id="profileImg" src=@request.ServiceProvider.UserProfilePicture alt="" />
                                <div class="d-flex flex-column users-rating">
                                    <span>@request.ServiceProvider.FirstName @request.ServiceProvider.LastName</span>
                                    <div class="d-flex align-items-center">
                                        <div class="rateit" data-rateit-mode="font" style="font-size:20px" data-rateit-readonly="true" data-rateit-value="@request.ServiceProvider.RatingRatingToNavigations.Average(x=>x.Ratings)"></div>
                                        <span>@request.ServiceProvider.RatingRatingToNavigations.Average(x=>x.Ratings)</span>
                                    </div>
                                </div>
                         </div>
                    }
                  </td>
                  <td><span>@request.TotalCost &euro;</span></td>
                  <td><div class="d-flex justify-content-end"><a class="btn btn-primary reschedule" data-id=@request.ServiceRequestId>Reschedule</a><a class="btn btn-primary cancel" data-id=@request.ServiceRequestId>Cancel</a>
                  </div></td>
                  </tr>
            }
              </tbody>
            </table>
            <!--table end-->
          </div>
        </div>
      </div>
    </section>
    <!--main section ends-->

@section AddAfterFooter{
    <script src="~/rateit-plugin/scripts/jquery.rateit.js"></script>
    <script src="~/js/customer/service-request.js" asp-append-version="true"></script>
    <script src="~/DataTables/datatables.min.js"></script>
    <script src="~/DataTables/DataTables-1.11.3/js/dataTables.responsive.min.js"></script>
}
    

