@using HelperlandProject.Models.ViewModels.Admin
@model EditRequestViewModel
<div class="modal-dialog modal-dialog-centered erd-modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">Edit Service Request</h6>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body edit-request-detail">
        <form id="editRequestForm" data-ajax="true" data-ajax-url="/admin/editrequest" data-ajax-method="post" data-ajax-update="#adminModal">
            @Html.HiddenFor(model=>model.ServiceRequestId)
            <div class="row">
                <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.ServiceStartDate,new{@class="form-label"})
                    @Html.TextBoxFor(model=>model.ServiceStartDate,Model.ServiceStartDate.ToString("yyyy-MM-dd"),new {@type ="date",@class="form-control",@min=DateTime.Now.ToString("yyyy-MM-dd")})
                    @Html.ValidationMessageFor(model=>model.ServiceStartDate,"",new {@class="text-danger"})
                </div>
                 <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.ServiceStartTime,new{@class="form-label"})
                    @Html.DropDownListFor(model=>model.ServiceStartTime,Constants.timeList,Model.ServiceStartTime,new{@class="form-select"})
                    @Html.ValidationMessageFor(model=>model.ServiceStartTime,"",new {@class="text-danger"})
                </div>
            </div>
            <h6 class"form-section">Service Address</h6>
            <div class="row">
                <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.StreetName,new{@class="form-label"})
                    @Html.TextBoxFor(model=>model.StreetName,new {@class="form-control"})
                    @Html.ValidationMessageFor(model=>model.StreetName,"",new {@class="text-danger"})
                </div>
                <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.HouseNumber,new{@class="form-label"})
                    @Html.TextBoxFor(model=>model.HouseNumber,new {@class="form-control"})
                    @Html.ValidationMessageFor(model=>model.HouseNumber,"",new {@class="text-danger"})
                </div>
            </div>
             <div class="row">
                <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.PostalCode,new{@class="form-label"})
                    @Html.TextBoxFor(model=>model.PostalCode,new {@class="form-control"})
                    @Html.ValidationMessageFor(model=>model.PostalCode,"",new {@class="text-danger"})
                </div>
                <div class="col-6 mb-3">
                    @Html.LabelFor(model=>model.City,new{@class="form-label"})
                    @Html.TextBoxFor(model=>model.City,new {@class="form-control"})
                    @Html.ValidationMessageFor(model=>model.City,"",new {@class="text-danger"})
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    @Html.LabelFor(model=>model.RescheduleReason,new {@class="form-label"})
                    @Html.TextAreaFor(model=>model.RescheduleReason,new {@class="form-control",@rows="2",@placeholder="Why do you want to reschedule service request?"})
                </div>
            </div>
            <input type="submit" class="btn btn-primary mb-3" value="Update"/>
            @Html.Raw(@ViewBag.Alert)
        </form>
    </div>
  </div>
</div>

