<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <script
      src="https://kit.fontawesome.com/9090ba710e.js"
      crossorigin="anonymous"
    ></script>
    <!--importing bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <!--importing css-->
    <link
      rel="stylesheet"
      href="~/css/home/layout.css"
      asp-append-version="true"
    />
    <link
      rel="stylesheet"
      href="~/css/account/login-forgotpassword.css"
      asp-append-version="true"
    />
    @if (IsSectionDefined("AddToHead")) 
    {
        @RenderSection("AddToHead");
    }
  </head>
  <body>
    <main>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" asp-controller="home" asp-action="index"
              ><img src="~/images/logo-small.png"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link nlbb l-1" href="#">Book now</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link nlbt l-2 ms-2"
                    asp-controller="home"
                    asp-action="prices"
                    >Prices & services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link l-3 ms-4" href="#">Warranty</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link l-4 ms-4" href="#">Blog</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link l-5 ms-4"
                    asp-controller="home"
                    asp-action="contactus"
                    >Contact</a>                 
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link l-6 nlbb ms-4"
                    asp-controller="home" asp-action="index" asp-route-loginPopUp=true
                    >Login</a>                 
                </li>
                <li class="nav-item">
                  <a class="nav-link l-7 nlbb ms-2" asp-controller="account" asp-action="becomeaprovider">Become a Helper</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!--For main content of different pages-->
      @RenderBody();

      <footer>
        <!--for newslater section-->
        <div class="d-flex justify-content-center flex-wrap">
          <div class="newslater-area">
            <!--news later heading-->
            <h6 class="newslatter-heading">GET OUR NEWSLETTER</h6>
            <!--newslatter form-->
            <form class="d-flex justify-content-center">
              <input class="form-email" type="email" placeholder="Your Email" />
              <input class="form-btn" type="button" value="Submit" />
            </form>
          </div>
        </div>

        <!--actual footer section-->
        <div class="main-footer">
          <div class="main-footer-raw-1">
            <!--footer logo-->
            <img src="~/images/footer-logo.png" id="footer-navbar-logo" />
            <!--footer navbar-->
            <div class="nav">
              <a asp-controller="home" asp-action="index">home</a>
              <a asp-controller="home" asp-action="aboutus">About</a>
              <a href="#">Testimonials</a>
              <a asp-controller="home" asp-action="faqs">Faqs</a>
              <a href="#">Insurence Policy</a>
              <a href="#">Impressum</a>
            </div>
            <!--social media icons-->
            <div class="main-footer-socialmedia-area">
              <img src="~/images/ic-facebook.png" alt="" />
              <img src="~/images/ic-instagram.png" />
            </div>
          </div>
          <hr />
          <!--copyright-->
          <p class="copyright-text">
            ©2018 Helperland.&nbsp;All rights reserved.
            <a href="#">Terms and Conditions</a> |
            <a href="#">Privacy Policy</a>
          </p>
        </div>
      </footer>
    </main>

    @if (IsSectionDefined("AddAfterFooter")) 
    {
        @RenderSection("AddAfterFooter");
    }
     @if (IsSectionDefined("ExtraScripts")) 
    {
        @RenderSection("ExtraScripts");
    }
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/home/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
