@using HelperlandProject.Models.ViewModels
@model RegisterUserViewModel;
@{
    ViewData["Title"] = "Become a provider";
} 
@section AddToHead{
    <!--importing css and jquery-->
    <link
      rel="stylesheet"
      href="~/css/account/become-a-provider.css"
      asp-append-version="true"
    />
}

@section AddAfterHeader{
     <div class="d-flex flex-column align-items-center">
        <div class="registration-form d-flex flex-column align-items-center">
          <h6>Register Now!</h6>
          <form method=post>
              <div class="row">
                  <div class="col-12 mb-3">
                      <input
                          type="text"
                          class="form-control"
                          placeholder="First name"
                          asp-for="FirstName"
                      />
                      @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                  </div>
              </div>
            
              <div class="row">
                  <div class="col-12 mb-3">
                       <input
                          type="text"
                          class="form-control"
                          placeholder="Last name"
                          asp-for="LastName"
                      />
                      @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                  </div>
              </div>
               
              <div class="row">
                  <div class="col-12 mb-3">
                      <input
                          type="text"
                          class="form-control"
                          placeholder="Email Address"
                          asp-for="Email"
                        />
                         @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 mb-3">
                      <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">+91</span>
                          <input
                            type="text"
                            class="form-control"
                            id="mobile-number"
                            placeholder="Mobile Number"
                            asp-for="Mobile"
                          />
                      </div>
                      @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 mb-3">
                      <input
                          type="text"
                          class="form-control"
                          placeholder="Password"
                          asp-for="Password"
                        />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                  </div>
              </div>
            
               <div class="row">
                  <div class="col-12 mb-3">
                      <input
                          type="text"
                          class="form-control"
                          placeholder="Confirm Password"
                          asp-for="ConfirmPassword"
                        />
                         @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                  </div>
              </div>

              <div class="row">
                  <div class="col-12 mb-3">
                       <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="myCheckBox"
                          />
                          <label class="form-check-label ms-1" for="flexCheckDefault">
                            I accept <a href="#">terms and conditions</a> &
                            <a href="#">privacy policy</a>
                          </label>
                        </div>
                  </div>
              </div>
            
              <div class="row">
                  <div class="col-12 text-center mb-3">
                      <button type="submit" id="btnSubmit">
                            <span
                              >Get Started <img src="~/images/arrow-white.png" alt=""
                            /></span>
                      </button>
                  </div>
              </div>
          </form>
        </div>
        <a href="#how-it-works"><img src="~/images/group-18_5.png" alt="" /></a>
      </div>
}

<section id="how-it-works">
      <div class="d-flex flex-column align-items-center">
        <h2 class="title">How it works</h2>
        <div class="items-container">
          <div class="d-flex flex-wrap">
            <div class="ic">
              <h6>Register Yourself</h6>
              <p>
                Provide your basic information to register yourself as a service
                provider.
              </p>

              <span
                ><p>Read more</p>
                <img src="~/images/shape-2.png" alt=""
              /></span>
            </div>
            <img
              class="ml-auto items-container-img"
              src="~/images/group-25.png"
              alt=""
            />
          </div>

          <div class="d-flex flex-wrap">
            <img
              class="items-container-img-2"
              src="~/images/group-29.png"
              alt=""
            />
            <div class="ic-2 ml-auto">
              <h6>Get service requests</h6>
              <p>
                You eill get service requests frm customers depend on service
                area and profile.
              </p>
              <span
                ><p>Read more</p>
                <img src="~/images/shape-2.png" alt=""
              /></span>
            </div>
          </div>

          <div class="d-flex flex-wrap">
            <div class="ic">
              <h6>Complete serivice</h6>
              <p>
                Accept service request from your customers and complete your
                work.
              </p>
              <span
                ><p>Read more</p>
                <img src="~/images/shape-2.png" alt=""
              /></span>
            </div>
            <img
              class="ml-auto items-container-img"
              src="~/images/group-30.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

@section AddAfterFooter{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/account/become-a-provider.js" asp-append-version="true"></script>
}