@using HelperlandProject.Models.ViewModels
@model LoginViewModel
@{
    Layout = null;
}
<!--<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
<link
      rel="stylesheet"
      href="~/css/account/login-forgotpassword.css"
      asp-append-version="true"
    />-->
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Login to your account</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
        @Html.Raw(@ViewBag.Alert)
      <form id="loginForm">
          <div class="row mb-3">
              <div class="col-12 text-center">
                  <div class="input-container">
                      <input
                        class="input-field"
                        type="text"
                        placeholder="Email"
                        asp-for="Email"
                      />
                      <i class="fa fa-user"></i>
                 </div>
                  @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger ms-auto" })
                </div>
          </div>
        
          <div class="row mb-3">
              <div class="col-12 text-center ">
                  <div class="input-container">
                      <input
                        class="input-field"
                        type="password"
                        placeholder="Password"
                        asp-for="Password"
                      />
                      <i class="fas fa-lock"></i>
                  </div>
                 @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
              </div>
          </div>
        
          <div class="row mb-3">
              <div class="col-12">
                  <div class="d-flex align-items-center">
                      @Html.CheckBoxFor(model=>model.RememberMe)@Html.LabelFor(model=>model.RememberMe)
                  </div>
                  
              </div>
          </div>
         
          <div class="row mb-3">
              <div class="col-12">
                   <button type="button" class="btn btn-primary" onclick="PostRequest();">Login</button>
                   <!--<input class="btn btn-primary" type="submit" value="Submit">-->
              </div>
          </div>
        
          <div class="row">
              <div class="col-12">
                  <p>
                      <a onclick="openForgetPasswordPopUp();">Forget password?</a><br />
                      Don't have an account?
                      <a asp-controller="account" asp-action="register">Create an account</a>
                  </p>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>



     <!--<script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>-->
